<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="100px">
    <form>
      <mat-form-field >
        <mat-label>Search</mat-label>
        <input #searchField matInput>
        <mat-hint>Find and compare text</mat-hint>
        <mat-icon matSuffix (click)='onSearch()'>search</mat-icon>
      </mat-form-field>
    </form>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <app-file-drop
        (onFileUpload$)='onFileOpen($event)'
      ></app-file-drop>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let file of files" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{file.name}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-pdf-viewer [file]="file"></app-pdf-viewer>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
